@model WebApplicationTestAJAX.Licenses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Licenses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Companys.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Companys.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Towns.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Towns.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
